section.intro {
  background-color: $dark-blue;
  @include row;

  .hero{
    padding: 3em 1em 4em;
    color: $white;
    text-align: center;
  }

  h1{
    font-weight: 300;
    font-size: 2.8em;
  }

  .try-it{
    @include button();
  }

  @include media($medium-screen-up) {
    .hero {
      padding: 5em 1em 7em;
    }

    h1 {
      font-size: 3.8em;
    }
  }

  @include media($large-screen-up) {
    .hero{
      padding: 9em 0em 11em;
    }
  }
}

section.rock-solid {
  @include outer-container;
  padding: 5em $base-spacing 5em;

  h1{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  .icon {
    color: $light-gray;
    display: block;
    font-size: 10em;
    text-align: center;
  }

  .automated .icon {
    @extend %icon-cog-alt;
  }

  .accurate .icon {
    @extend %icon-stopwatch;
  }

  .flexible .icon {
    @extend %icon-sliders;
  }

  @include media($medium-screen-up) {
    .features {
      @include row;
    }

    .feature {
      @include span_columns(4 of 12);
    }
  }
}

section.trusted-by{

  background-color: $light-blue;
  padding: 4em 0;

  h1 {
    color: $medium-gray;
    font-size: 1.25em;
    text-align: center;
  }

  .companies {
    text-align: center;
  }

  .company {
    @include hide-text;
    margin: $base-spacing auto;
    padding: $base-spacing;
  }

  .logo {
    margin: 0 auto;
  }

  .segment .logo {
    @include size(153px 37px);
    @include retina-image("landing-index/segment", 153px 37px, $asset-pipeline: true);
  }

  .insightly .logo {
    @include size(184px 69px);
    @include retina-image("landing-index/insightly", 184px 69px, $asset-pipeline: true);
  }

  .nexto .logo {
    @include size(130px 52px);
    background-image: asset-url("landing-index/nexto.png");
  }

  .mapbox .logo {
    @include size(138px 37px);
    @include retina-image("landing-index/mapbox", 138px 37px, $asset-pipeline: true);
  }

  @include media($medium-screen-up) {
    .companies {
      @include outer-container;
      display: flex;
      align-items: center;
    }

    h1 {
      margin-bottom: $base-spacing;
    }

    .company {
      flex-grow: 1;
      margin: 0;
    }
  }
}

section.why-rev-rec-matters {
  padding: 6em 0 4em;

  h1 {
    text-align: center;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    font-size: 2em;
  }

  .reasons {
    padding: $base-spacing;
  }

  .reason{
    padding: $base-spacing 0;
  }

  .icon {
    color: $medium-gray;
    display: block;
    font-size: 5em;
    text-align: center;
  }

  .investors .icon {
    @extend %icon-users;
  }

  .changing-regulations .icon {
    @extend %icon-hammer;
  }

  .accuracy .icon {
    @extend %icon-chart-line;
  }

  @include media($medium-screen-up) {
    .reasons {
      margin: 0 auto;
      max-width: em(960);
    }

    .reason {
      @include row;
    }

    .icon {
      @include span-columns(4 of 12);
    }

    .text {
      @include span-columns(8 of 12);
    }
  }
}

section.get-started {
  background-color: $light-blue;
  padding: 6em $base-spacing 5em;
  text-align: center;

  h1 {
    color: $green;
    font-size: 4em;
    font-weight: 300;
    margin: 0;
  }

  p {
    color: $medium-gray;
    font-size: 1.25em;
    margin: $base-spacing 0 1.75em;
  }

  .get-started-button{
    @include button;
  }
}
