<%= render 'application/header' %>

<section class="intro">
  <div class="hero">
    <h1>Revenue Recognition for <span class="stripe-logo">Stripe</span>.</h1>
    <%= link_to "Get Started", "https://app.recognized.io/sign_up", class: "try-it" %>
  </div>
</section>

<section class="rock-solid">
  <header>
    <h1>Rock-solid RevRec without the Hassle</h1>
  </header>

  <div class="features">
    <div class="feature automated">
      <i class="icon"></i>
      <h2 class="label">Automated</h2>
      <p class="description">
        Save hours of manual spreadsheet building. Instantly view your rev-rec
        report in a user friendly web interface, or in a familar spreadsheet.
      </p>
    </div>

    <div class="feature accurate">
      <i class="icon"></i>
      <h2 class="label">Accurate</h2>
      <p class="description">
        Gain unpresidented accuracy with by having your earned revenue calculated
        down to the second. An automated process eliminates inaccuraies due to human error.
      </p>
    </div>

    <div class="feature flexible">
      <i class="icon"></i>
      <h2 class="label">Flexible</h2>
      <p class="description">
        Automation saves you tons of time, but flexibility lets you adapt. We make it easy to
        customize your rev-rec strategy and deferral period for any charge, and keep your
        numbers clean.
      </p>
    </div>
  </div>
</section>

<section class="trusted-by">
  <header>
    <h1>Trusted By</h1>
  </header>

  <div class="companies">
    <div class="company nexto">
      <h2 class="logo">nexto</h2>
    </div>
    <div class="company insightly">
      <h2 class="logo">Insightly</h2>
    </div>
    <div class="company segment">
      <h2 class="logo">Segment.io</h2>
    </div>
  </div>
</section>

<section class="why-rev-rec-matters">
  <header>
    <h1>Why does Revenue Recognition Matter?</h1>
  </header>

  <div class="reasons">
    <div class="reason investors">
      <i class="icon"></i>
      <div class="text">
        <h2 class="headline">Keep your investors happy</h2>
        <p class="details">
          From taking your first seed round, to your initial IPO, your books will be under
          intense scrutiny. One of the toughest problems for SaaS companies, is accurately
          determining thier earned revenue.
        </p>
      </div>
    </div>

    <div class="reason changing-regulations">
      <i class="icon"></i>
      <div class="text">
        <h2 class="headline">Be ready for ASC 606</h2>
        <p class="details">
          FASB issued a guidance changing how companies are allowed to record revenue.
          Get ahead of this transition, by recognizing your revenue correctly.
        </p>
      </div>
    </div>

    <div class="reason accuracy">
      <i class="icon"></i>
      <div class="text">
        <h2 class="headline">Get an accurate view of your revenue</h2>
        <p class="details">
          Gain insight into how much of your revenue is prepaid versues revenue you
          have actually earned.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="get-started">
  <h1>Get started for free</h1>
  <p>Simply connect your stripe account.</p>
  <%= link_to "Get Started", "https://app.recognized.io/sign_up", class: "get-started-button" %>
</section>

<%= render 'application/footer' %>
