<%= render 'application/header' %>

<section class="intro">
  <div class="hero">
    <h1>Revenue Recognition for <span class="stripe-logo">Stripe</span>.</h1>
    <%= link_to "Try it for Free", "https://app.recognized.io/sign_up", class: "try-it" %>
  </div>
</section>
